body {
    margin: 0 10% 0 10%;
    width: 80%;
}

#chart {
    display: block;
    position: relative;
    left: 40px;
    margin: 0;
}

.rickshaw_graph .x_tick {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px dotted rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.rickshaw_graph .x_tick .title {
    position: absolute;
    white-space: nowrap;
    margin-left: 3px;
    bottom: 1px;
}

#chart_container {
        position: relative;
}

#y_axis {
    position: absolute;
    width: 40px;
}

.y_grid {
    display: none;
}